.trafficLight {
    background: black;
    padding: 10px;
    display: inline-block;
    
    
}
.light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: green;
    padding: 20px;
    margin: 8px;
}
.red {background: red;}
.yellow {background: yellow;}
.green {background: green;}

.glow {
    box-shadow: 0px 0px 12px 8px yellow;
}
.container {
    text-align:center;
}
.poste {
    background: black;
    width: 20px;
    height: 80px;
    margin: auto;
}
